  <li id="<%= dom_id recipe %>">
    <%= link_to user_recipe_path(current_user, recipe) do %>
      <div class="child">
        <strong><%= recipe.name %></strong>
        <% button_to "Remove", user_recipe_path(user_id: recipe.user.id, id: recipe.id), method: :delete %>
      </div>

      <p><%= recipe.description %></p>
    <%end%>
  </li>
