<main>
  <h1 class="title">Recipes</h1>

  <div id="recipes">
    <% if @recipes.blank? %>
      <p>Your recipes list is currently empty!</p>
      <%= link_to "Add new recipe", new_user_recipe_path(current_user) %>
    <% else %>
      <ul class="recipes">
        <% @recipes.each do |recipe| %>
          <%= render recipe %>

        <% end %>
      </ul>
      <%= link_to "New recipe", new_user_recipe_path(current_user) %>
    <% end %>
  </div>
</main>
